@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/logo/moneyminder_logo.png" alt="MoneyMinder Logo" class="img-fluid mb-4" style="max-width: 300px; height: auto;">
    <p class="lead">Your easy-to-use tool for tracking and improving your budget.</p>
</div>
